<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quod dignissimos iste quis tempore tempora. Eius nostrum et consequuntur odio beatae placeat animi? Laboriosam quod et voluptatum omnis nulla! Maxime.</p>
        <p>Rem numquam dolore, dolorum, quisquam voluptatem, recusandae ipsum aperiam fugit reprehenderit totam velit? Neque corrupti quia harum, facere non necessitatibus aliquam mollitia natus ut modi aliquid aperiam commodi, sit eligendi.</p>
        <p>Excepturi corporis numquam blanditiis voluptates harum cupiditate vero magnam odio omnis hic. Porro reprehenderit laudantium neque vel vero. Sunt quaerat asperiores saepe? Qui libero exercitationem fugit provident voluptate quisquam ab?</p>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>